/* * {
    outline: 1px solid red;
} */
.bg-img {
    background-image: url(https://github.com/porterwilcox/Music-Is-Fun/blob/master/assets/images/tape.jpg?raw=true);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.form-pos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.form-group {
    position: fixed;
    left: 5em;
}
.title-spacer {
    color: transparent;
    font-size: 15em;
    width: 100%;
}
.top-hit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-hit-card {
    height: 65%;
}
.top-hit-spacer {
    color: transparent;
    font-size: .5em;
}
#songs {
    display: flex;
    justify-content: center;
}
.form-control, .form-control:focus, .form-control:active {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    box-shadow: none;
    font-size: 2em;
    height: fit-content;
}
.form-control::placeholder {
    color: white;
    font-size: 1.5em;
}
button {
    visibility: hidden;
}

/* mobile */
@media (pointer: coarse) and (hover: none){
    .bg-img {
        background-image: url(/assets/images/tape-copy.jpg);
    }
    .top-hit-card {
        width: 135%;
        margin-left: 5%;
        margin-right: -5%;
    }
    .song-card {
        width: 110%;
        margin-left: 18%;
        margin-right: -18%;
    }
}